.accordion {
  &__item {
    background-color: #f8f8f8;
    border-radius: 6px;
    margin-bottom: 20px;

    &__link {
      font-weight: bold;
      font-size: rem(16);
      @include flex(center, space-between);
      cursor: pointer;
      &:hover {
        text-decoration: none!important;
      }

      &[aria-expanded="true"]{
        .icon {
          background-color: $primary-color;
          color: $color-white;
        }
      }
    }

    &__icon {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      @include flex(center, center);
      font-size: rem(16);
      font-weight: 100;
      background-color: $color-white;
    }
  }
}
