.co-activity {
  padding: 30px;
  border-radius: 10px;
  background-color: #15655c;
  margin-bottom: 30px;
  @extend %animateCard;
  overflow: hidden;
  position: relative;

  &:before {
    background-image: url(../img/shape.png);
    background-repeat: no-repeat;
    width: 140px;
    height: 140px;
    content: "";
    position: absolute;
    #{$left}: 0px;
    top: 0;
    transform: rotate(-90deg);
    transition: all .5s ease-in-out;
  }

  &__title {
    font-size: rem(18);
    margin-bottom: 20px;
  }

  &__date {
    font-size: rem(14);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: 100;

    &__icon {
      color: #3EB562;
      margin-inline-end: 10px;
      font-size: rem(20);

      &::before {
        color: currentColor;
      }
    }
  }


  &:hover {
    background-color: $color-white;

    //&::before {
    //  transform: rotate(180deg);
    //  #{$left}: unset;
    //  #{$right}: 0;
    //
    //}

    *:not(i) {
      color: $text-color;
    }
  }
}