.co-form {
  &-label {
    font-size: rem(14);
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }

  &-input {
    padding: 14px 13px;
    background-color: $color-white;
    border-radius: $main-border-radius;
    width: 100%;
    display: block;
    border: 1px solid #F2F3F5!important;
    outline: none;
    resize: none;

    &::placeholder {
      color: #9A9CA0;
      font-size: rem(14);
      font-weight: 400;
    }

    &:focus, &:hover {
      border-color: $primary-color;
    }

    &.error {
      border-color: red
    }
  }

  &-select {
    border: 1px solid $color-grey-dark;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-image: url(../images/icon/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 18px;
    border-radius: 6px;
  }

  &-group {
    margin-bottom: 20px;

    &__label {
      font-size: rem(16);
      font-weight: 400;
      margin-bottom: 17px;
    }
  }

  &-checkbox {
    @include flex(center, flex-start);
    &-input {
      margin-inline-end: 10px;
      accent-color: $primary-color;
      width: 22px;
      height: 22px;
    }

    &-label {
      font-size: rem(14);
      font-weight: 400;
      cursor: pointer;
      color: $primary-color;
    }

    &__count {
      padding: 5px;
      border-radius: 3px;
      color: #646A69;
      background-color: #EEEEEE ;
      @include flex(center, center);
    }

    &--wrapper {
      @include flex(center, space-betwen);
      justify-content: space-between!important;
      width: 100%;
    }
  }
}
