.co-member {
  padding: 30px 20px;
  border-radius: 10px;
  background-color: #15655c;
  height: 100%;
  transition: all .5s ease-in-out;
  border-top: 3px solid transparent;
  position: relative;
  overflow: hidden;

  &:before {
    background-image: url(../img/shape.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    content: "";
    position: absolute;
    #{$left}: 0px;
    top: 0;
    transform: translate(44px, -17px) rotate(-90deg);
  }

  &__heading {
    font-weight: 100;
  }

  &__icon {
    font-size: rem(50);
    color: $color-white;
    margin-bottom: 20px;
    display: block;

    &::before {
      color: currentColor;
    }
  }

  &:hover {
    background-color: $color-white;
    cursor: pointer;
    border-color: #3EB562;

    &::before {
      display: none;
    }

    .membership__cards__card__heading, .membership__cards__card__icon {
      color: $text-color;
    }
  }
}