.co-service  {
  display: flex;
  padding: 30px;
  border-radius: 10px;
  background-color: $color-white;
  box-shadow: $main-box-shadow;
  height: 100%;
  transition: all .5s ease-in-out;
  overflow: hidden;
  position: relative;
  min-height: 208px;
  @extend %animateCard;

  &:before {
    background-image: url(../img/shape.png);
    background-repeat: no-repeat;
    width: 520px;
    height: 480px;
    content: "";
    position: absolute;
    #{$left}: -240px;
    top: -240px;
    transition: all .5s ease-in-out;

  }

  &__icon {
    font-size: rem(40);
    color: #3EB562;

    &::before {
      color: currentColor;
    }

  }

  &__info {
    margin-inline-start: 20px;
  }

  &__title {
    font-size: rem(16);
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__description {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }

  &:hover {
    cursor: pointer;

    &::before {
      animation: moveService .5s normal ease-in-out forwards ;
      #{$left}: auto;
    }
  }
}

@keyframes moveService {

  0% {
    #{$right}: 300px;
    top: -10px;
  }

  25% {
    top: -5px;
  }

  50% {
    top: 10px;
  }

  75% {
    top: 20px;
  }

  100% {
    #{$right}: -240px;
    top: 90px;
  }

}