.why-sca {
  padding: $section-gap 0;
  background-color: $section-background;

  &__image {
    width: 100%;
  }

  &__brief {
    margin: 30px 0;
    line-height: 40px;
  }

  &__button {
    margin-top: 30px;
  }
}

.membership {
  text-align: center;
  background-color: $primary-color;
  padding: $section-gap 0;

  * {
    color: $color-white;
  }

  &__cards {
    &__card {
      padding: 30px 0 ;
      border-radius: 10px;
      background-color: #15655c;
      margin-top: 50px;

      &__icon {
        font-size: rem(50);
        color: $color-white;
        margin-bottom: 20px;
        display: block;

        &::before {
          color: currentColor;
        }
      }
    }
  }

  &__button {
    margin-top: 60px;
  }


}