%animateCard {
  transition: $transition-base;
  cursor: pointer;
  &:hover {
    transform: translateY(-10px);
  }
}

.why-sca {
  padding: $section-gap 0;
  background-color: $section-background;

  &__image {
    width: 100%;
  }

  &__brief {
    margin: 30px 0;
    line-height: 40px;
  }

  &__button {
    margin-top: 30px;
  }

  @include media-breakpoint-down(sm) {
    padding: 20px 0;

    .heading--1 {
      margin: 20px 0;
    }

  }
}

.membership {
  text-align: center;
  background-color: $primary-color;
  padding: $section-gap 0;

  * {
    color: $color-white;
  }

  &__button {
    margin-top: 60px;
  }

  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }
}

.services {
  padding: $section-gap 0;
  background-color: $section-background;

  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }
}

.news {
  padding: $section-gap 0;
  background-color: #cde2e0;

  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }
}

.activities {
  background-color: $primary-color;
  padding: $section-gap 0;

  * {
    color: $color-white;
  }

  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }

}

.contacts {
  padding: $section-gap 0;
  background-color: #cde2e0;

  &__card {
    &__title {
      font-size: rem(48);
      font-weight: bold;
      margin-bottom: 20px;
    }

    &__description {
      font-weight: 100;
      font-size: rem(16);
      margin-bottom: 40px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 20px 0;

    &__image {
      width: 100%;
    }
    &__card {
      &__title {
        font-size: rem(25);
      }
    }
  }
}