.manager-word {

  &__image {
    text-align: center;
    width: 100%;
    max-width: 500px;
  }

  &__card {
    padding: 30px;
  }

  &__title {
    font-size: rem(36);
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__description {
    font-size: rem(16);
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.8;
  }

  @include media-breakpoint-down(sm) {
    &__image {
      margin-bottom: 30px;
    }
  }
}
