.bg-white {
  background-color: $color-white;
}
.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 30px;
}
.m-b-30 {
  margin-bottom: 30px!important;
}


.m-b-40 {
  margin-bottom: 40px;
}

.m-t-60 {
  margin-top: 60px!important;
}

.m-b-60 {
  margin-bottom: 60px!important;
}

.text-right {
  text-align: #{$left};
}

.d-small-block{
  @include media-breakpoint-down(sm){
    display: block!important;
    width: 100%;
  }
}

.d-small-none{
  @include media-breakpoint-down(sm){
    display: none!important;
  }
}

.no-padding {
  padding: 0!important;
}
