$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../../assets/fonts" !default;

$icon-Accept: "\e9f1";
$icon-Add: "\e9f2";
$icon-Arrow-down: "\e9f3";
$icon-Arrow-up: "\e9f4";
$icon-Arrow_1: "\e9f5";
$icon-Arrow_dropdown: "\e9f6";
$icon-Arrow_Left: "\e9f7";
$icon-Arrow_Right: "\e9f8";
$icon-Attachments: "\e9f9";
$icon-Calender: "\e9fa";
$icon-Cancel: "\e9fb";
$icon-Cancelled: "\e9fc";
$icon-Chat: "\e9fd";
$icon-Check: "\e9fe";
$icon-Company: "\e9ff";
$icon-Consult: "\ea00";
$icon-Contract: "\ea01";
$icon-Done: "\ea02";
$icon-Download: "\ea03";
$icon-Earth2: "\ea04";
$icon-Edit: "\ea05";
$icon-Email: "\ea06";
$icon-Exit: "\ea07";
$icon-Eye: "\ea08";
$icon-Filter: "\ea09";
$icon-heart-add: "\ea0a";
$icon-Home: "\ea0b";
$icon-ID: "\ea0c";
$icon-Info: "\ea0d";
$icon-inprograss-Projects: "\ea0e";
$icon-inprograss1: "\ea10";
$icon-Location: "\ea11";
$icon-logout1: "\ea12";
$icon-Magazine: "\ea13";
$icon-Map: "\ea14";
$icon-Marketplace1: "\ea15";
$icon-medal-star: "\ea16";
$icon-message-question: "\ea17";
$icon-Money1: "\ea18";
$icon-New1: "\ea19";
$icon-Phone1: "\ea1a";
$icon-Product1: "\ea1b";
$icon-Projects1: "\ea1c";
$icon-Proposel1: "\ea1d";
$icon-Saudi1: "\ea1e";
$icon-Search2: "\ea1f";
$icon-send: "\ea20";
$icon-Supplier1: "\ea21";
$icon-Support: "\ea22";
$icon-Time1: "\ea23";
$icon-Training: "\ea24";
$icon-trash1: "\ea25";
$icon-User1: "\ea26";
$icon-Users1: "\ea27";
$icon-bank: "\e9df";
$icon-building: "\e9e0";
$icon-Civil-engineering: "\e9e1";
$icon-Construction: "\e9e2";
$icon-files: "\e9e3";
$icon-flag1: "\e9e4";
$icon-government: "\e9e5";
$icon-judge: "\e9e6";
$icon-landscape: "\e9e7";
$icon-Mining: "\e9e8";
$icon-Mission: "\e9e9";
$icon-money: "\e9ea";
$icon-people: "\e9eb";
$icon-supplier: "\e9ec";
$icon-Vision: "\e9ed";
$icon-Waste: "\e9ee";
$icon-work: "\e9ef";
$icon-worker: "\e9f0";
$icon-sms: "\e94a";
$icon-call: "\e94b";
$icon-Illusrutions-1: "\e95c";
$icon-training: "\e94c";
$icon-moneys: "\e94d";
$icon-briefcase: "\e953";
$icon-users-group1: "\e954";
$icon-messages: "\e955";
$icon-profile: "\e956";
$icon-hummer: "\e957";
$icon-castle: "\e958";
$icon-sea: "\e959";
$icon-building-1: "\e95a";
$icon-bricks: "\e946";
$icon-arrow-left: "\e95b";
$icon-burger-menu: "\e947";
$icon-Earth: "\e948";
$icon-Search: "\e949";
$icon-profile-converted: "\e952";
$icon-arrow-left1: "\e94e";
$icon-Earth1: "\e94f";
$icon-Earth-converted: "\e950";
$icon-eye-2: "\e93f";
$icon-home: "\e940";
$icon-mark: "\e941";
$icon-top-arrow: "\e942";
$icon-calender-2: "\e943";
$icon-download: "\e944";
$icon-envelope: "\e935";
$icon-goal: "\e936";
$icon-mins: "\e937";
$icon-plus: "\e938";
$icon-link: "\e939";
$icon-location1: "\e93a";
$icon-folder: "\e93b";
$icon-eye: "\e93c";
$icon-file1: "\e93d";
$icon-site: "\e93e";
$icon-rectangle: "\e945";
$icon-play: "\e933";
$icon-users-group: "\e912";
$icon-bag: "\e913";
$icon-file: "\e918";
$icon-email: "\e919";
$icon-phone: "\e91a";
$icon-print: "\e91b";
$icon-twitter1: "\e91c";
$icon-document-pdf: "\e91e";
$icon-facebook1: "\e91f";
$icon-font: "\e921";
$icon-md-arrow-dropleft: "\e927";
$icon-camera: "\e928";
$icon-video: "\e934";
$icon-list: "\e929";
$icon-location: "\e92a";
$icon-attach: "\e92b";
$icon-coin: "\e92c";
$icon-clock: "\e92d";
$icon-to-do: "\e92e";
$icon-reward: "\e92f";
$icon-csertificate: "\e930";
$icon-chat: "\e931";
$icon-alert: "\e932";
$icon-user: "\e910";
$icon-menu: "\e911";
$icon-users: "\e914";
$icon-webinar: "\e915";
$icon-graduation: "\e916";
$icon-open-book: "\e917";
$icon-program-4: "\e909";
$icon-program-1: "\e90d";
$icon-program-2: "\e90e";
$icon-program-3: "\e90f";
$icon-left-arrow: "\e908";
$icon-twitter: "\e902";
$icon-facebook: "\e903";
$icon-instagram: "\e904";
$icon-youtube: "\e90c";
$icon-down-arrow: "\e900";
$icon-share: "\e901";
$icon-right-arrow: "\e905";
$icon-calender: "\e906";
$icon-qoute: "\e907";
$icon-search: "\e90a";
$icon-star: "\e90b";
$icon-close: "\e926";
$icon-twitter-1: "\e986";
$icon-linkedin-1: "\e987";
$icon-instagram-1: "\e979";
$icon-Property-1Tag1: "\e985";
$icon-3d: "\e91d";
$icon-accept: "\e920";
$icon-add-lecture: "\e922";
$icon-add: "\e923";
$icon-add_2: "\e924";
$icon-arcticons_twitter: "\e925";
$icon-arrange: "\e95d";
$icon-arrow_1: "\e95e";
$icon-arrow_dropdown: "\e95f";
$icon-arrow_Left: "\e960";
$icon-arrow_Right: "\e961";
$icon-arrow-Left_2: "\e962";
$icon-attachments: "\e963";
$icon-bathroom: "\e964";
$icon-bed: "\e965";
$icon-book: "\e966";
$icon-calender1: "\e967";
$icon-camera1: "\e968";
$icon-camera_2: "\e969";
$icon-cancel: "\e96a";
$icon-cancel_1: "\e96b";
$icon-carbon_logo-instagram: "\e96c";
$icon-categories: "\e96d";
$icon-chat1: "\e96e";
$icon-chat_2: "\e96f";
$icon-check: "\e970";
$icon-check_2: "\e971";
$icon-comment: "\e972";
$icon-company: "\e973";
$icon-connect: "\e974";
$icon-consult: "\e975";
$icon-contract-documentation: "\e976";
$icon-contract: "\e977";
$icon-copy: "\e978";
$icon-courses: "\e97a";
$icon-dark: "\e97b";
$icon-training1: "\e97c";
$icon-direction: "\e97d";
$icon-done: "\e97e";
$icon-download1: "\e97f";
$icon-earth: "\e980";
$icon-edit: "\e981";
$icon-email1: "\e982";
$icon-emoj: "\e983";
$icon-exit: "\e984";
$icon-eye1: "\e988";
$icon-facebook2: "\e989";
$icon-filter: "\e98a";
$icon-flag: "\e98b";
$icon-follow: "\e98c";
$icon-google_map: "\e98d";
$icon-GPS: "\e98e";
$icon-headPhone: "\e98f";
$icon-home1: "\e990";
$icon-home_Active: "\e991";
$icon-id: "\e992";
$icon-Image: "\e993";
$icon-Images: "\e994";
$icon-info: "\e995";
$icon-Info_2: "\e996";
$icon-inprograss_projects: "\e997";
$icon-inprograss: "\e998";
$icon-land: "\e999";
$icon-liberary: "\e99a";
$icon-light: "\e99b";
$icon-like: "\e99c";
$icon-list1: "\e99d";
$icon-List_2: "\e99e";
$icon-live_Lectures: "\e99f";
$icon-loading: "\e9a0";
$icon-location2: "\e9a1";
$icon-location_2: "\e9a2";
$icon-Location_3: "\e9a3";
$icon-logout: "\e9a4";
$icon-magazine: "\e9a5";
$icon-map: "\e9a6";
$icon-Map_2: "\e9a7";
$icon-Marketplace: "\e9a8";
$icon-Mecca: "\e9a9";
$icon-Medals: "\e9aa";
$icon-Menu: "\e9ab";
$icon-Mobile: "\e9ac";
$icon-Money: "\e9ad";
$icon-More: "\e9ae";
$icon-Mosque_2: "\e9af";
$icon-New: "\e9b0";
$icon-Notifications: "\e9b1";
$icon-Offer: "\e9b2";
$icon-Office: "\e9b3";
$icon-Password: "\e9b4";
$icon-Path: "\e9b5";
$icon-Phone: "\e9b6";
$icon-Play: "\e9b7";
$icon-Product: "\e9b8";
$icon-Projects: "\e9b9";
$icon-Proposel: "\e9ba";
$icon-Questions: "\e9bb";
$icon-Rate: "\e9bc";
$icon-record: "\e9bd";
$icon-Reply: "\e9be";
$icon-Request: "\e9bf";
$icon-Resend: "\e9c0";
$icon-Room: "\e9c1";
$icon-Ruled: "\e9c2";
$icon-satellite: "\e9c3";
$icon-Saudi: "\e9c4";
$icon-Search1: "\e9c5";
$icon-Seen_1: "\e9c6";
$icon-Seen_2: "\e9c7";
$icon-Send: "\e9c8";
$icon-Setting: "\e9c9";
$icon-Share: "\e9ca";
$icon-Shared_office: "\e9cb";
$icon-Sound: "\e9cc";
$icon-Sound_2: "\e9cd";
$icon-Star: "\e9ce";
$icon-Star_2: "\e9cf";
$icon-Store: "\e9d0";
$icon-storehouse: "\e9d1";
$icon-subscription: "\e9d2";
$icon-Supplier: "\e9d3";
$icon-Tasks: "\e9d4";
$icon-Time: "\e9d5";
$icon-trash: "\e9d6";
$icon-Update: "\e9d7";
$icon-User: "\e9d8";
$icon-Users: "\e9d9";
$icon-Verify: "\e9da";
$icon-Video_Gallery: "\e9db";
$icon-Video: "\e9dc";
$icon-Welcome: "\e9dd";
$icon-Whatsapp: "\e9de";
$icon-world: "\e951";
$icon-globe: "\e951";
$icon-internet: "\e951";
$icon-network: "\e951";
$icon-cross: "\ea0f";


